<html>
    <head>
        <title>Sucesso</title>
        <link rel="stylesheet" type="text/css" href="static/sucesso.css">
    </head>
    
    <body>

        <form method="post">
        
        <div class="sucesso">
        
            <h2>Reclamação enviada com sucesso!</h2>
                
            <p><button class="bot" type="submit" name="botao" value="outrarec">Fazer outra reclamação</button>
            <button class="bot" type="submit" name="botao" value="voltarhome">Home</button></p>
            
        <div>    
            
        </form>
    </body>
</html>