@charset "UTF-8";

body {
    font-family: Courier;
    background-color: #001962;}

h2 {
    font-family: "Helvetica";
    color: rgb(72, 155, 238);
    text-align: left;
    font-size: 18px;
}

p {
    font-family: Georgia;
    font-size: 15px;
}

.barradetres {
    background-color: rgb(72, 155, 238);
    text-align: center;
    color: rgb(72, 155, 238);
    margin: auto;
    padding: auto;
    border-radius: 50px;
    width: 530px;
}

.bot {
    background-color: rgb(72, 155, 238);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Helvetica;
    margin: 20px 10px;
}

.bot:hover {
    background-color: rgb(72, 155, 238, 0.8);
}

.barra-vertical {
    width: 2px;
    height: 40px;
    background-color: #444444;
    display: inline-block; 
    vertical-align: middle; 
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reclamacoes {
	background-color: #dddddd;
    padding: 10px;
    width: auto;
    border: none;
    color: #5e5a5e;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
}

.titulo {
	text-align: left;
    color: rgb(72, 155, 238);
    margin: 10px 30px;
    padding: 0px;
    font-size: 18px;
    font-family: Helvetica;
}

.hr {
	width: auto;
    height: 2px;
}

.texto{
	font-family: Helvetica;
	text-align: left;
    color: #595959;
    margin: 15px;
    padding: 15px;
    font-size: 15px;
}