@charset "UTF-8";

body {
    font-family: Courier;
    background-color: #001962;}

h1 {
    font-family: "Helvetica";
    color: rgb(72, 155, 238);
    text-align: center;
}

p {
    font-family: Georgia;
    font-size: 15px;
}

.barradetres {
    background-color: rgb(72, 155, 238);
    text-align: center;
    color: #721d75;
    margin: auto;
    padding: auto;
    border-radius: 50px;
    width: 530px;
}

.bot {
    background-color: rgb(72, 155, 238);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Helvetica;
    margin: 20px 10px;
}

.bot:hover {
    background-color: rgb(72, 155, 238, 0.8);
}

.barra-vertical {
    width: 2px;
    height: 40px;
    background-color: #444444;
    display: inline-block; 
    vertical-align: middle; 
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}