@charset "UTF-8";

header{
    width: 100%;
    height: 60px;
    background-color: #052a97 ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: white;
}
.titulo2{
    display: flex;
    width: 55%;
    right: 20px;
}


.user{
    width: 45%;
    display: flex;
    color:white;
    margin-left: 10px ;

}

.nome{
    margin-left: 10px;
}

body {
    font-family: Courier;
    background-color: #001962;}

h1 {
    font-family: "Helvetica";
    color: rgb(72, 155, 238);
    text-align: center;
}

p {
    font-family: Georgia;
    font-size: 15px;
}

.barradetres {
    background-color: rgb(72, 155, 238);
    text-align: center;
    color: rgb(72, 155, 238);
    margin: auto;
    padding: auto;
    border-radius: 50px;
    width: 530px;
}

.bot {
    background-color: rgb(72, 155, 238);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Helvetica;
    margin: 20px 10px;
}

.bot:hover {
    background-color: rgb(72, 155, 238, 0.8);
}

.barra-vertical {
    width: 2px;
    height: 40px;
    background-color: #444444;
    display: inline-block; 
    vertical-align: middle; 
    margin: 0 10px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post{
    display: flex;
    margin: 20px;
    color: #5e5a5e;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #dddddd;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border: none;
}

.new-post{
    margin: 10px;
}

.imgUser{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #23A0FF;
}
.infoUser{
    display: flex;
    align-items: center;
}

.nameAndHour{
    margin-left: 10px;
    margin-top: 10px;
}

.assunto{
    margin-top: 10px;
}
