@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

header{
    width: 110%;
    height: 120px;
    background-color: #E6EDFF ;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #333;
    font-family: "Montserrat";
    padding: 0;
}

.userimg {
    display: flex;
    align-items: center; /* Alinhar verticalmente ao centro (opcional) */
    right: 20px;
    margin: 0;
    width: auto;
}

.logo {
    width: 600px;
    height: 120px;
    position: relative;
    left: 55%; 
}

.user{
    width: 45%;
    display: flex;
    color:#333;
    margin-left: 10px ;
}

.nome{
    margin-left: 10px;
}

body {
    font-family: Courier;
    background-color: #001962;
    margin: 0;
}

h2 {
    font-family: "Montserrat";
    color: rgb(72, 155, 238);
    text-align: center;
}

p {
    font-family: Georgia;
    font-size: 15px;
}

.sucesso {
    background-color: #dddddd;
    text-align: center;
    color: rgb(72, 155, 238);
    margin: 120px 32.7%;
    padding: 20px 0px 10px 0px;
    border-radius: 30px;
    width: 500px;
    font-family: "Montserrat";
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: relative;
}

.bot {
    background-color: rgb(72, 155, 238);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Montserrat";
    margin: 20px 10px;
}

.bot:hover {
    background-color: rgb(72, 155, 238, 0.8);
}