@charset "UTF-8";

body {
    font-family: Courier;
    background-color: #001962;
}

h2 {
    font-family: "Helvetica";
    color: rgb(72, 155, 238);
    text-align: center;
}

p {
    font-family: Georgia;
    font-size: 15px;
}

.sucesso {
    background-color: #dddddd;
    text-align: center;
    color: rgb(72, 155, 238);
    margin: auto;
    padding: 20px 0px 10px 0px;
    border-radius: 50px;
    width: 500px;
    font-family: Courier;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.bot {
    background-color: rgb(72, 155, 238);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer;
    font-family: Helvetica;
    margin: 20px 10px;
}

.bot:hover {
    background-color: rgb(72, 155, 238, 0.8);
}