<html>
    <head>
        <title>Cadastro</title>
    </head>
    
    <body>
            <h1>Fazer cadastro</h1>

        <form method="POST">

            <p>Nome: <input type="text" id="nome" name="nome"></p>
            <p>Senha: <input type="password" id="senha" name="senha"></p>

            <button type="submit" name="botao" value="cadastro">Cadastrar</button>
            <button type="submit" name="botao" value="irlogin">Ir para login</button>

        </form>
        <div>
    </body>
</html>