<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="static/loginestilo.css">
    </head>
    
    <body>

        <form method="post">

    <div class="nomesenha">

        <h1>Login</h1>

        <p class="palavras">Nome de usuário/DRE:<input class="linha" type="text" id="nome" name="nome"></p>

        <p class="palavras">Senha: <input class="linha" type="password" id="senha" name="senha"></p>
        
        <p><button class="botoes" type="submit" name="botao" value="login">Entrar</button>
            <button class="botoes" type="submit" name="botao" value="signup">Cadastrar-se</button>
        </p>
    
    <div>
    </body>
</html>