<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="static/cadestilo.css">
    </head>
    
    <body>
        
        <form method="post">

    <div class="nomesenha">

        <h1>Cadastro</h1>

        <p class="palavras">Nome:<input class="linha" type="text" id="nome" name="nome"></p>

        <p class="palavras">DRE: <input class="linha" type="numer" id="senha" name="dre"></p>

        <p class="palavras">PoliMail:<input class="linha" type="email" id="nome" name="email"></p>

        <p class="palavras">Nome de usuário: <input class="linha" type="text" id="senha" name="username"></p>

        <p class="palavras">Senha: <input class="linha" type="password" id="senha" name="senha"></p>
        
        <p><button class="botoes" type="submit" name="botao" value="cadastrar">Cadastrar</button>
        <button class="botoes" type="submit" name="botao" value="irlogin">Voltar para o login</button></p>
    
    <div>
    </body>
</html>