<html>
    <head>
        <title>Cadastro</title>
        <link rel="stylesheet" type="text/css" href="static/cadestilo.css">
    </head>
    
    <body>
        
        <form method="post">

            <div class="container" id="container">
                <div class="form-container sign-up-container">                    
                        <h1>Criar conta</h1>
                        <input type="text" placeholder="Nome" />
                        <input type="number" placeholder="DRE" />
                        <input type="email" placeholder="Email" />
                        <input type="password" placeholder="Senha" />
                        <button name="botao" value="cadastrar">Cadastrar</button>
                    </form>
                </div>
                
                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-left">
                            <h1>Bem-vindo(a) <br> de volta!</h1>
                            <p>Já tem cadastro? <br>Faça login!</p>
                            <button class="ghost" name="botao" value="irlogin">Login</button>
                        </div>                        
                    </div>
                </div>
            </div>
    </body>
</html>