<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" type="text/css" href="static/homestilo.css">
    </head>
    
    <body>

        <form method="post">

        <div class="barradetres">
            <div class="header">
                <button class="bot" type="submit" name="botao" value="reclamar">Reclame aqui</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="home">Home</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="resolvido">Resolvido</button>
            </div>
        </div>
        </form>
        </body>
</html>