<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="static/loginestilo.css">
    </head>
    
    <body>

        <form method="post">

            <div class="container" id="container">                
                <div class="form-container sign-in-container">
                        <h1>Login</h1>

                            <input type="text" placeholder="DRE" />
                            <input type="password" placeholder="Senha" />
                            <button name="botao" value="login">Login</button>
                    </form>
                </div>

                <div class="overlay-container">
                    <div class="overlay">
                        <div class="overlay-panel overlay-right">
                            <h1>Olá!</h1>
                            <p>Não tem conta? <br>Faça o cadastro</p>
                            <button class="ghost" name="botao" value="irsignup">Cadastro</button>
                        </div>
                    </div>
                </div>
            </div>
    </body>
</html>