<html>
    <head>
        <title>Reclamação</title>
        <link rel="stylesheet" type="text/css" href="static/reclamacaoestilo.css">
    </head>
    
    <body>

        <form method="post">

        <div class="barradetres">
            <div class="header">
                <button class="bot" type="submit" name="botao" value="reclamar">Reclame aqui</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="home">Home</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="resolvido">Resolvido</button>
            </div>
        </div>

    <div class="locrec">

        <h1 class="titulos">Local</h1>

        <h3>Bloco</h3>
        
            <select name="bloco" class="bloco">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
            </select>

        <h3>Andar</h3>

            <select name="andar" class="andar">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>

        <h3>Onde</h3>

        <select name="onde" class="onde">
            <option value="banheiro">Banheiro</option>
            <option value="corredor">Corredor</option>
            <option value="sala">Sala</option>
        </select>

        <h1 class="titulos">Reclamação</h1>

        <textarea rows="5" cols="30" placeholder="Digite aqui..."></textarea>

        <p><button name="texto" class="botreg" type="submit" name="botao" value="reclamou">Registrar</button></p>
    
    <div>
    </body>
</html>