<html>
    <head>
        <title>Reclamação</title>
        <link rel="stylesheet" type="text/css" href="static/reclamacaoestilo.css">
        <script src="https://kit.fontawesome.com/649e88a597.js" crossorigin="anonymous"></script>
        <script>
        function Voltar()
        {
            alert("Você será redirecionado para o login!");
        }
        </script>

        <script>
        function funcao1()
        {
            alert("Você está enviando um email com a sua reclamação e com seus dados de confirmação para o responsável do local!!!");
        }
        </script>

    </head>
    
    <body>

        <header>
            <div class="user"> 
                <a href="./" onclick="Voltar()"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a> 
                <div class="nome"> {{name}} </div>
            </div>
            <div class="title"><h1>ReclamECA</h1></div>

        </header>
        <form method="post">

        <div class="barradetres">
            <div class="header">
                <button class="bot" type="submit" name="botao" value="reclamar">Reclame aqui</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="home">Home</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="resolvido">Minhas Reclamações</button>
            </div>
        </div>

    <div class="locrec">

        <h1 class="titulos">Local</h1>

        <h3>Bloco</h3>
        
            <select name="bloco" class="bloco">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
            </select>

        <h3>Andar</h3>

            <select name="andar" class="andar">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
            </select>

        <h3>Onde</h3>

        <select name="onde" class="onde">
            <option value="Banheiro">Banheiro</option>
            <option value="Corredor">Corredor</option>
            <option value="Sala">Sala</option>
        </select>

        <!-- tem q ter um if se for sala, e colocar o numero da sala -->

        <h1 class="titulos">Reclamação</h1>

        <textarea rows="5" cols="30" placeholder="Digite aqui..." name = "corpo"></textarea>

        <p><button onclick="funcao1()" class="botreg" type="submit" name="botao" value="reclamou">Enviar</button></p>
    
    <div>
    </body>
        
</html>