<html>
    <head>
        <title>Resolvido</title>
        <link rel="stylesheet" type="text/css" href="static/resolvidasestilo.css">
        <script src="https://kit.fontawesome.com/649e88a597.js" crossorigin="anonymous"></script>
    </head>
    
    <body>

        <header>
            <div class="user"> 
                <a href="#"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a> 
                <div class="nome"> {{name}} </div>
            </div>
            <div class="titulo2"><h1>ReclamECA</h1></div>
    
        </header>

        <form method="post">

        <div class="barradetres">
            <div class="header">
                <button class="bot" type="submit" name="botao" value="reclamar">Reclame aqui</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="home">Home</button>
                <div class="barra-vertical"></div>
                <button class="bot" type="submit" name="botao" value="resolvido">Resolvido</button>
            </div>
        </div>
        </form>
        </body>
</html>