<html>
    <head>
        <title>Sucesso</title>
        <link rel="stylesheet" type="text/css" href="static/sucesso.css">
        <script src="https://kit.fontawesome.com/649e88a597.js" crossorigin="anonymous"></script>
    </head>
    
    <body>

        <header>
            <div class="user"> 
                <a href="#"><i class="fa-regular fa-user" style="color: #ffffff;"></i></a> 
                <div class="nome"> {{name}} </div>
            </div>
            <div class="titulo2"><h1>ReclamECA</h1></div>
    
        </header>

        <form method="post">
        
        <div class="sucesso">
        
            <h2>Reclamação enviada com sucesso!</h2>
                
            <p><button class="bot" type="submit" name="botao" value="outrarec">Fazer outra reclamação</button>
            <button class="bot" type="submit" name="botao" value="voltarhome">Home</button></p>
            
        <div>    
            
        </form>
    </body>
</html>